.header{

    height: 60px;       
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,33,9,1) 40%, rgba(0,212,255,1) 100%);
    color: white;
    display: flex;
    width: inherit;
    align-items: center;


}

.headingName{
    flex: 18;
    display: flex;
    justify-content: center;
}

.user{
    flex: 2;
    width: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}