.card{
    background: cyan;
    width: 200px;
    height: 300px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.movie-img > img{
    object-fit: contain;
    width: 180px;
    height: 280px;
}